<div class="panel panel-default">
  <div class="panel-heading">{{habit.name}}</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th class="text-center">{{habit.currentWeek[0].getDayStr()}}</th>
          <th class="text-center">{{habit.currentWeek[1].getDayStr()}}</th>
          <th class="text-center">{{habit.currentWeek[2].getDayStr()}}</th>
          <th class="text-center">{{habit.currentWeek[3].getDayStr()}}</th>
          <th class="text-center">{{habit.currentWeek[4].getDayStr()}}</th>
          <th class="text-center">{{habit.currentWeek[5].getDayStr()}}</th>
          <th class="text-center">{{habit.currentWeek[6].getDayStr()}}</th>
        </tr>
        <tr style="height: 50px;">
          <td class="day text-center" (click)="dayPressed(0)" [class.habit-done]="habit.currentWeek[0].completed">
            <span class="glyphicon glyphicon-ok-circle" ></span>
          </td>
          <td class="day text-center" (click)="dayPressed(1)" [class.habit-done]="habit.currentWeek[1].completed">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </td>
          <td class="day text-center" (click)="dayPressed(2)" [class.habit-done]="habit.currentWeek[2].completed">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </td>
          <td class="day text-center" (click)="dayPressed(3)" [class.habit-done]="habit.currentWeek[3].completed">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </td>
          <td class="day text-center" (click)="dayPressed(4)" [class.habit-done]="habit.currentWeek[4].completed">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </td>
          <td class="day text-center" (click)="dayPressed(5)" [class.habit-done]="habit.currentWeek[5].completed">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </td>
          <td class="day text-center" (click)="dayPressed(6)" [class.habit-done]="habit.currentWeek[6].completed">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </td>
        </tr>
      </table>
    </div>
    <div>Current Streak: 0 days</div>
    <div>Best Streak: 0 days</div>
  </div>
</div>
